In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


## Order of Operations 
- Read csv(s)
- Removing unnessary headers from dataframe of WDI Data (df)
- Filter the dataframe (df) for relevant country names 
- Filer the dataframe (df) for relevant indicators

In [2]:
#to read csv of data
df= pd.read_csv('../WDIData.csv')

#to read csv of country names
df_country_names= pd.read_csv('WDI_Country_Code_and_Names.csv',encoding = "ISO-8859-1")

#to read csv of indicators
df_list_indicators = pd.read_csv('WDI_list_of_reviewed_indicators.csv')

### <font color = red> Dataframe Cleanup </font>

#### Removing Columns

In [3]:
#to grab the headers of the dataset
df_headers=list(df.columns.values)

In [4]:
# to count the number of headers
len(df_headers)

63

In [5]:
#only pull the headers that are years
df_years = df_headers[-59:]

In [6]:
#only select previous years before 2010
df_years_drop = df_years[0:50]
#to make column '2018' a list
df_years_drop_2018 = list([df_years[-1]])

# to combine lists of years into 1 drop line
df_drop = df_years_drop + df_years_drop_2018

In [7]:
#to drop the years and create a summarized df
df_columns_removed = df.drop(df_drop,axis=1)
df_columns_removed.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2010,2011,2012,2013,2014,2015,2016,2017
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN

#### Filter by Country Names

In [8]:
#to preview df_country_names
df_country_names.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code
0,ABW,Aruba,Aruba,Aruba,AW
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF
2,AGO,Angola,Angola,People's Republic of Angola,AO
3,ALB,Albania,Albania,Republic of Albania,AL
4,AND,Andorra,Andorra,Principality of Andorra,AD

In [9]:
#make a list of country short name
country_short_names = list(df_country_names['Short Name'])

In [10]:
#filter df by short names list
df_filter_cols_nd_cols_rem = df_columns_removed.loc[df_columns_removed['Country Name'].isin(country_short_names)]

In [11]:
#source[filterdfbyalist]: https://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe

In [12]:
df_filter_cols_nd_cols_rem.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2010,2011,2012,2013,2014,2015,2016,2017
57564,Pacific island small states,PSS,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57565,Pacific island small states,PSS,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57566,Pacific island small states,PSS,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,25.958323,26.285890,26.535749,26.782890,27.085270,27.257535,27.474560,NaN
57567,Pacific island small states,PSS,Access to electricity (% of population),EG.ELC.ACCS.ZS,68.566481,70.510341,72.004083,72.806889,75.017881,79.515976,79.548083,NaN
57568,Pacific island small states,PSS,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,55.876132,58.485068,60.480956,61.882117,64.464801,71.707699,71.011807,NaN

#### Filter Data by Indicators

In [13]:
df_list_indicators.head()

                                      Indicator Name
0   Adjusted net national income (constant 2010 US$)
1  Adjusted net national income per capita (annua...
2  Adjusted net national income per capita (const...
3  Agricultural methane emissions (thousand metri...
4  Agricultural nitrous oxide emissions (thousand...

#### Per the word doc: 'World_Dev_Indicators_Reviewed_Subjects.docx'

Required & Optional indicators for chart preference:

- PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)
- GDP (constant 2010 US$)
- GDP growth (annual %)
- Population, total
- Population growth (annual %)

In [14]:
req_nd_opti_indicators = df_list_indicators.loc[df_list_indicators['Indicator Name'].isin([
    'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)',
    'GDP (constant 2010 US$)',
    'GDP growth (annual %)',
    'Population, total',
    'Population growth (annual %)'
])]

req_nd_opti_indicators

                                       Indicator Name
11                            GDP (constant 2010 US$)
12                              GDP growth (annual %)
16  PM2.5 air pollution, mean annual exposure (mic...
18                       Population growth (annual %)
19                                  Population, total

In [15]:
#to make a list of indicators for filter
list_indicators = list(req_nd_opti_indicators['Indicator Name'])
list_indicators

['GDP (constant 2010 US$)',
 'GDP growth (annual %)',
 'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)',
 'Population growth (annual %)',
 'Population, total']

In [16]:
#filter by indicators
df_countries_indiciator = df_filter_cols_nd_cols_rem.loc[df_filter_cols_nd_cols_rem['Indicator Name'].isin(list_indicators )]
df_countries_indiciator.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2010,2011,2012,2013,2014,2015,2016,2017
58077,Pacific island small states,PSS,GDP (constant 2010 US$),NY.GDP.MKTP.KD,6.416547e+09,6.679807e+09,6.797337e+09,6.983945e+09,7.259504e+09,7.496900e+09,7.663213e+09,7.916644e+09
58083,Pacific island small states,PSS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.900471e+00,4.102837e+00,1.759472e+00,2.745316e+00,3.945613e+00,3.270127e+00,2.218436e+00,3.307099e+00
58624,Pacific island small states,PSS,"PM2.5 air pollution, mean annual exposure (mic...",EN.ATM.PM25.MC.M3,1.384642e+01,1.403721e+01,1.306092e+01,1.244804e+01,1.200588e+01,1.199036e+01,1.129599e+01,1.125513e+01
58696,Pacific island small states,PSS,Population growth (annual %),SP.POP.GROW,1.339185e+00,1.294750e+00,1.272315e+00,1.265664e+00,1.278801e+00,1.266260e+00,1.268358e+00,1.236565e+00
58707,Pacific island small states,PSS,"Population, total",SP.POP.TOTL,2.214096e+06,2.242763e+06,2.271298e+06,2.300045e+06,2.329458e+06,2.358955e+06,2.388875e+06,2.418415e+06

#### <font color = purple> Final Dataframe Edit </font>

In [17]:
#remove unnessecary columns
df_final = df_countries_indiciator.drop(['Country Code','Indicator Code'],axis=1)
df_final.head()

,Country Name,Indicator Name,2010,2011,2012,2013,2014,2015,2016,2017
58077,Pacific island small states,GDP (constant 2010 US$),6.416547e+09,6.679807e+09,6.797337e+09,6.983945e+09,7.259504e+09,7.496900e+09,7.663213e+09,7.916644e+09
58083,Pacific island small states,GDP growth (annual %),2.900471e+00,4.102837e+00,1.759472e+00,2.745316e+00,3.945613e+00,3.270127e+00,2.218436e+00,3.307099e+00
58624,Pacific island small states,"PM2.5 air pollution, mean annual exposure (mic...",1.384642e+01,1.403721e+01,1.306092e+01,1.244804e+01,1.200588e+01,1.199036e+01,1.129599e+01,1.125513e+01
58696,Pacific island small states,Population growth (annual %),1.339185e+00,1.294750e+00,1.272315e+00,1.265664e+00,1.278801e+00,1.266260e+00,1.268358e+00,1.236565e+00
58707,Pacific island small states,"Population, total",2.214096e+06,2.242763e+06,2.271298e+06,2.300045e+06,2.329458e+06,2.358955e+06,2.388875e+06,2.418415e+06

### <font color = 'maroon'> Analysis Agenda for Air Pollution, Population & GDP </font>
####  1. Logic for calculating bins (using GDP as example):
Objective: To split data into bucket categories to review correlation per metric reviewed 

1. A Subtotal by column (Total GDP per Year)
2. A Subtotal by row (Total GDP per Country & Total GDP Overall)
3. Calulate % of GDP per country vs GDP Overall to get bins 
4. Use .describe to review breakdown of % data
5. Assign bins from Very Low to Very High 

#### 2. Ensure bins are properly distributing data
Objective: If there is a large std between the countries in the bins then our data will still be skewed and our bins will need readjusting
1. Create a pie chart of bins per country
2. If part of the pie is too large, then we'll review and break it out into smaller bins

### <font  color = blue >Dataframe for Air Pollution </font>

In [18]:
#filter df by air pollution
air_pollu_df = df_final.loc[df_final["Indicator Name"]== 'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)'].round(2)
air_pollu_df.head()

,Country Name,Indicator Name,2010,2011,2012,2013,2014,2015,2016,2017
58624,Pacific island small states,"PM2.5 air pollution, mean annual exposure (mic...",13.85,14.04,13.06,12.45,12.01,11.99,11.30,11.26
63421,Small states,"PM2.5 air pollution, mean annual exposure (mic...",29.20,29.45,29.89,29.69,28.72,31.24,29.87,30.25
76213,Afghanistan,"PM2.5 air pollution, mean annual exposure (mic...",65.25,66.84,66.02,61.37,59.01,61.25,56.29,56.91
77812,Albania,"PM2.5 air pollution, mean annual exposure (mic...",21.28,22.77,20.58,19.94,18.88,19.51,18.19,18.20
79411,Algeria,"PM2.5 air pollution, mean annual exposure (mic...",33.64,33.83,33.37,34.25,35.56,36.09,39.85,38.88

#### <font color = red> Reviewing Air Pollution data for 2009 </font>
I'm not including 2009 in the other data sets, becuase they have % annual growth. Meanwhile, air pollution doesn't have % growth. 

By adding 2009's data we can calculate % growth for 2010 in order to have complete data from 2010 - 2018.

In [19]:
#to get the column for 2009
#only select previous years before 2010
df_years_drop_air = df_years[0:49]
#to make column '2018' a list
df_years_drop_2018_air = list([df_years[-1]])

# to combine lists of years into 1 drop line
df_drop_air = df_years_drop_air + df_years_drop_2018_air

In [20]:
#to drop the years and create a summarized df
df_columns_removed_air = df.drop(df_drop_air,axis=1)

#to remove extra columns, and to filter the data by country:
df_air = df_columns_removed_air.drop(['Country Code','Indicator Code'],axis=1).loc[df_columns_removed_air['Country Name'].isin(country_short_names)].loc[df_columns_removed_air['Indicator Name']== 'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)'].set_index('Country Name').reset_index() 
df_air.head(3)

,Country Name,Indicator Name,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Pacific island small states,"PM2.5 air pollution, mean annual exposure (mic...",NaN,13.846417,14.037205,13.060916,12.448042,12.005876,11.990358,11.295988,11.255127
1,Small states,"PM2.5 air pollution, mean annual exposure (mic...",NaN,29.200931,29.451034,29.894694,29.687221,28.716533,31.238818,29.867332,30.245968
2,Afghanistan,"PM2.5 air pollution, mean annual exposure (mic...",NaN,65.245592,66.835727,66.023174,61.366745,59.010330,61.252656,56.287047,56.910808

#### <font color=red> Conclusion of 2009 Air Pollution Data </font>

From the table above, we can see there is no data in 2009 for PM2.5 thus, when completing your charts use the years 2011 - 2017. 

Since we do not need air data for 2009 I'll discontinue dataframe "df_air" and use going forward "air_pollu_df".

In [21]:
#create a df for percent change of air pollution

air_pollu_df_1 = air_pollu_df.drop('Indicator Name', axis = 1).set_index('Country Name')
air_pollu_pct_change = air_pollu_df_1.pct_change(axis='columns')

In [22]:
air_pollu_df_1= air_pollu_df_1.reset_index()
air_pollu_df_1.head()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017
0,Pacific island small states,13.85,14.04,13.06,12.45,12.01,11.99,11.30,11.26
1,Small states,29.20,29.45,29.89,29.69,28.72,31.24,29.87,30.25
2,Afghanistan,65.25,66.84,66.02,61.37,59.01,61.25,56.29,56.91
3,Albania,21.28,22.77,20.58,19.94,18.88,19.51,18.19,18.20
4,Algeria,33.64,33.83,33.37,34.25,35.56,36.09,39.85,38.88

In [23]:
#to create a subtotals row for annual air_pollution
air_pollu_annual_totals_per_year = air_pollu_df_1.iloc[:,1:].sum(axis = 0).round(2)
air_pollu_totals_per_year = list(air_pollu_annual_totals_per_year.values)
air_pollu_totals_per_year

[4933.41, 4986.47, 4872.96, 4745.59, 4565.11, 4864.26, 4624.9, 4647.73]

In [24]:
#make subtotal list into dataframe,using in a row format
air_pollu_subtotals = pd.DataFrame({'Total PM2.5 per Year':air_pollu_totals_per_year }).T
#to rename index to fit 'air_pollu_df_1'
air_pollu_subtotals.index.name = 'Country Name'
air_pollu_subtotals = air_pollu_subtotals.rename(columns = {0: '2010',
                                                            1:"2011",
                                                            2:'2012',
                                                            3:'2013',
                                                            4:'2014',
                                                            5:'2015',
                                                            6:'2016',
                                                            7:'2017'   
                                                            }).reset_index()
air_pollu_subtotals

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017
0,Total PM2.5 per Year,4933.41,4986.47,4872.96,4745.59,4565.11,4864.26,4624.9,4647.73

In [25]:
#to create a subtotal row for per year Air Pollution PM2.5 Annal mean exposure
air_pollu_subtotals_df = pd.concat([air_pollu_df_1,air_pollu_subtotals],axis=0, join='outer', ignore_index=True)
air_pollu_subtotals_df.tail()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017
194,Vietnam,39.37,38.49,37.23,36.84,34.90,32.47,30.24,29.63
195,West Bank and Gaza,33.01,32.87,32.77,33.49,33.45,33.89,32.74,33.23
196,Zambia,28.84,28.99,29.74,29.11,28.49,28.38,27.36,27.44
197,Zimbabwe,23.23,23.07,23.20,23.11,22.81,21.73,21.73,22.25
198,Total PM2.5 per Year,4933.41,4986.47,4872.96,4745.59,4565.11,4864.26,4624.90,4647.73

In [26]:
#to create a total column
air_pollu_subtotals_df['Total PM2.5'] = air_pollu_subtotals_df.iloc[:,1:].sum(axis = 1)
air_pollu_subtotals_df.tail()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,Total PM2.5
194,Vietnam,39.37,38.49,37.23,36.84,34.90,32.47,30.24,29.63,279.17
195,West Bank and Gaza,33.01,32.87,32.77,33.49,33.45,33.89,32.74,33.23,265.45
196,Zambia,28.84,28.99,29.74,29.11,28.49,28.38,27.36,27.44,228.35
197,Zimbabwe,23.23,23.07,23.20,23.11,22.81,21.73,21.73,22.25,181.13
198,Total PM2.5 per Year,4933.41,4986.47,4872.96,4745.59,4565.11,4864.26,4624.90,4647.73,38240.43

In [27]:
# to calculate % of PM2.5 distribution
air_pollu_subtotals_df['Total PM2.5 %'] = ((air_pollu_subtotals_df.iloc[:,9]/air_pollu_subtotals_df.iloc[-1,9]) * 100).round(2)
air_pollu_subtotals_df.tail()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,Total PM2.5,Total PM2.5 %
194,Vietnam,39.37,38.49,37.23,36.84,34.90,32.47,30.24,29.63,279.17,0.73
195,West Bank and Gaza,33.01,32.87,32.77,33.49,33.45,33.89,32.74,33.23,265.45,0.69
196,Zambia,28.84,28.99,29.74,29.11,28.49,28.38,27.36,27.44,228.35,0.60
197,Zimbabwe,23.23,23.07,23.20,23.11,22.81,21.73,21.73,22.25,181.13,0.47
198,Total PM2.5 per Year,4933.41,4986.47,4872.96,4745.59,4565.11,4864.26,4624.90,4647.73,38240.43,100.00

In [63]:
#to review data before assigning bins
air_pollu_subtotals_df['Total PM2.5 %'][0:-2].describe().round(2)

count    197.00
mean       0.51
std        0.39
min        0.00
25%        0.27
50%        0.44
75%        0.64
max        2.06
Name: Total PM2.5 %, dtype: float64

In [64]:
#create bins which will allow us to extract data related to hypothesis

PM25_bins = []

for rows in air_pollu_subtotals_df['Total PM2.5 %']:
     if air_pollu_subtotals_df['Total PM2.5 %'].min() < rows <= 0:
        rows = 'Very Low'
     elif 0 < rows <= .25:
        rows = 'Low'
     elif .25 < rows <= .50:
        rows = 'Moderate'
     elif .50 < rows <= .75:
        rows = 'Medium'  
     elif .75 < rows <= 3:
        rows = 'High'
     elif 3 < rows <= 100:
        rows = 'Very High'
     PM25_bins.append(rows)

In [65]:
air_pollu_subtotals_df['Total PM2.5 Bins'] = PM25_bins
air_pollu_subtotals_df.head()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,Total PM2.5,Total PM2.5 %,Total PM2.5 Bins
0,Pacific island small states,13.85,14.04,13.06,12.45,12.01,11.99,11.30,11.26,99.96,0.26,Moderate
1,Small states,29.20,29.45,29.89,29.69,28.72,31.24,29.87,30.25,238.31,0.62,Medium
2,Afghanistan,65.25,66.84,66.02,61.37,59.01,61.25,56.29,56.91,492.94,1.29,High
3,Albania,21.28,22.77,20.58,19.94,18.88,19.51,18.19,18.20,159.35,0.42,Moderate
4,Algeria,33.64,33.83,33.37,34.25,35.56,36.09,39.85,38.88,285.47,0.75,Medium

In [86]:
# to create a table of Total PM2.5% and the bins
air_poll_bins_review = air_pollu_subtotals_df.drop(air_pollu_subtotals_df.columns[1:10], axis= 1)

#
air_poll_bins_review_std = air_poll_bins_review.groupby('Total PM2.5 Bins')['Total PM2.5 %'].std()
air_poll_bins_review_std

#Make pivot of SE values to create error bars
#SE_tumor_volume_data_pivot = pd.pivot_table(air_poll_bins_review, values="Tumor Volume (mm3)",index=['Timepoint'], columns=['Drug'])
#SE_tumor_volume_data_pivot

Total PM2.5 Bins
0.0          0.000000
High         0.347822
Low          0.038502
Medium       0.072018
Moderate     0.078413
Very High         NaN
Name: Total PM2.5 %, dtype: float64

#### Dataframe for Air Pollution (annual % change)

In [31]:
#2010 won't have data bc there is no 2009 data, thus we will drop it
air_pollu_pct_change_1 = air_pollu_pct_change.drop('2010', axis = 1)

#drop all countries w.o values 
air_pollu_pct_change_2 = air_pollu_pct_change_1.dropna()

#create the % change df 
air_pollu_pct_change_3 = air_pollu_pct_change_2.multiply(100).round(2).reset_index()
air_pollu_pct_change_3.head()

#below are percentages

                  Country Name  2011  2012  2013  2014  2015   2016  2017
0  Pacific island small states  1.37 -6.98 -4.67 -3.53 -0.17  -5.75 -0.35
1                 Small states  0.86  1.49 -0.67 -3.27  8.77  -4.39  1.27
2                  Afghanistan  2.44 -1.23 -7.04 -3.85  3.80  -8.10  1.10
3                      Albania  7.00 -9.62 -3.11 -5.32  3.34  -6.77  0.05
4                      Algeria  0.56 -1.36  2.64  3.82  1.49  10.42 -2.43

In [32]:
#to create a total column
air_pollu_pct_change_3['Total % Change'] = air_pollu_pct_change_3.iloc[:,1:].sum(axis = 1)
air_pollu_pct_change_3.head()

,Country Name,2011,2012,2013,2014,2015,2016,2017,Total % Change
0,Pacific island small states,1.37,-6.98,-4.67,-3.53,-0.17,-5.75,-0.35,-20.08
1,Small states,0.86,1.49,-0.67,-3.27,8.77,-4.39,1.27,4.06
2,Afghanistan,2.44,-1.23,-7.04,-3.85,3.80,-8.10,1.10,-12.88
3,Albania,7.00,-9.62,-3.11,-5.32,3.34,-6.77,0.05,-14.43
4,Algeria,0.56,-1.36,2.64,3.82,1.49,10.42,-2.43,15.14

### <font color= purple> Dataframe for GDP </font>

#### Dataframe for GDP (2010 Constant USD$)

In [33]:
#filter df by GDP Constant
GDP_con_df = df_final.loc[df_final["Indicator Name"]== 'GDP (constant 2010 US$)']
GDP_con_df.head()

,Country Name,Indicator Name,2010,2011,2012,2013,2014,2015,2016,2017
58077,Pacific island small states,GDP (constant 2010 US$),6.416547e+09,6.679807e+09,6.797337e+09,6.983945e+09,7.259504e+09,7.496900e+09,7.663213e+09,7.916644e+09
62874,Small states,GDP (constant 2010 US$),3.943550e+11,4.201740e+11,4.339230e+11,4.456030e+11,4.571480e+11,4.687030e+11,4.769920e+11,4.858540e+11
75666,Afghanistan,GDP (constant 2010 US$),1.585657e+10,1.592418e+10,1.795488e+10,1.896048e+10,1.947707e+10,1.975974e+10,2.020638e+10,2.074494e+10
77265,Albania,GDP (constant 2010 US$),1.192696e+10,1.223109e+10,1.240478e+10,1.252882e+10,1.275058e+10,1.303365e+10,1.347027e+10,1.398693e+10
78864,Algeria,GDP (constant 2010 US$),1.612070e+11,1.658690e+11,1.714670e+11,1.762120e+11,1.828890e+11,1.897720e+11,1.960350e+11,1.991710e+11

In [34]:
#filter df by GDP % growth
GDP_df_draft = df_final.loc[df_final["Indicator Name"]== 'GDP (constant 2010 US$)']
GDP_df = GDP_df_draft.drop('Indicator Name', axis=1)
GDP_df = GDP_df.set_index('Country Name').reset_index()
GDP_df.head()

##example of GDP Values being different betweeen datasets
#GDP_per_growth_df.loc[GDP_per_growth_df['Country Name'] == 'Mexico']

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017
0,Pacific island small states,6.416547e+09,6.679807e+09,6.797337e+09,6.983945e+09,7.259504e+09,7.496900e+09,7.663213e+09,7.916644e+09
1,Small states,3.943550e+11,4.201740e+11,4.339230e+11,4.456030e+11,4.571480e+11,4.687030e+11,4.769920e+11,4.858540e+11
2,Afghanistan,1.585657e+10,1.592418e+10,1.795488e+10,1.896048e+10,1.947707e+10,1.975974e+10,2.020638e+10,2.074494e+10
3,Albania,1.192696e+10,1.223109e+10,1.240478e+10,1.252882e+10,1.275058e+10,1.303365e+10,1.347027e+10,1.398693e+10
4,Algeria,1.612070e+11,1.658690e+11,1.714670e+11,1.762120e+11,1.828890e+11,1.897720e+11,1.960350e+11,1.991710e+11

In [35]:
#to create a subtotals row for annual GDP
gdp_annual_totals_per_year = GDP_df.iloc[:,1:].sum(axis = 0)
gdp_annual_totals_per_year = list(gdp_annual_totals_per_year.values)
gdp_annual_totals_per_year

[61734691817248.29,
 63640725640275.14,
 65261896376433.99,
 67017766836881.39,
 68954134211539.234,
 71045484308830.34,
 72875218523926.67,
 75181240412864.64]

In [36]:
#make subtotal list into dataframe,using in a row format
GDP_growth_subtotals = pd.DataFrame({'Total GDP per Year':gdp_annual_totals_per_year }).T
#to rename index to fit 'GDP_per_growth_df'
GDP_growth_subtotals.index.name = 'Country Name'
GDP_growth_subtotals = GDP_growth_subtotals.rename(columns = {0: '2010',
                                                              1:"2011",
                                                              2:'2012',
                                                              3:'2013',
                                                              4:'2014',
                                                              5:'2015',
                                                              6:'2016',
                                                              7:'2017'   
                                                              }).reset_index()
GDP_growth_subtotals

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017
0,Total GDP per Year,6.173469e+13,6.364073e+13,6.526190e+13,6.701777e+13,6.895413e+13,7.104548e+13,7.287522e+13,7.518124e+13

In [37]:
#to create a GDP Annual Growth subtotal row for per year 
GDP_growth_subtotals_df = pd.concat([GDP_df,GDP_growth_subtotals],axis=0, join='outer', ignore_index=True)
GDP_growth_subtotals_df.tail()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017
194,Vietnam,1.159320e+11,1.231660e+11,1.296290e+11,1.366580e+11,1.448350e+11,1.545090e+11,1.641050e+11,1.752840e+11
195,West Bank and Gaza,8.913100e+09,1.001954e+10,1.064919e+10,1.088533e+10,1.086553e+10,1.123808e+10,1.176722e+10,1.213674e+10
196,Zambia,2.026556e+10,2.139326e+10,2.301864e+10,2.418324e+10,2.531884e+10,2.605812e+10,2.703717e+10,2.795729e+10
197,Zimbabwe,1.204166e+10,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10
198,Total GDP per Year,6.173469e+13,6.364073e+13,6.526190e+13,6.701777e+13,6.895413e+13,7.104548e+13,7.287522e+13,7.518124e+13

In [38]:
#to create a total column
GDP_growth_subtotals_df['Total GDP'] = GDP_growth_subtotals_df.iloc[:,1:].sum(axis = 1)
GDP_growth_subtotals_df.tail()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,Total GDP
194,Vietnam,1.159320e+11,1.231660e+11,1.296290e+11,1.366580e+11,1.448350e+11,1.545090e+11,1.641050e+11,1.752840e+11,1.144118e+12
195,West Bank and Gaza,8.913100e+09,1.001954e+10,1.064919e+10,1.088533e+10,1.086553e+10,1.123808e+10,1.176722e+10,1.213674e+10,8.647472e+10
196,Zambia,2.026556e+10,2.139326e+10,2.301864e+10,2.418324e+10,2.531884e+10,2.605812e+10,2.703717e+10,2.795729e+10,1.952321e+11
197,Zimbabwe,1.204166e+10,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,1.271590e+11
198,Total GDP per Year,6.173469e+13,6.364073e+13,6.526190e+13,6.701777e+13,6.895413e+13,7.104548e+13,7.287522e+13,7.518124e+13,5.457112e+14

In [39]:
#to isolate total GDP for world
GDP_growth_subtotals_df.iloc[-1,9]

545711158127999.7

In [40]:
# to calculate % of gdp distribution
GDP_growth_subtotals_df['Total GDP %'] = ((GDP_growth_subtotals_df.iloc[:,9]/GDP_growth_subtotals_df.iloc[-1,9]) * 100).round(2)
GDP_growth_subtotals_df.tail()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,Total GDP,Total GDP %
194,Vietnam,1.159320e+11,1.231660e+11,1.296290e+11,1.366580e+11,1.448350e+11,1.545090e+11,1.641050e+11,1.752840e+11,1.144118e+12,0.21
195,West Bank and Gaza,8.913100e+09,1.001954e+10,1.064919e+10,1.088533e+10,1.086553e+10,1.123808e+10,1.176722e+10,1.213674e+10,8.647472e+10,0.02
196,Zambia,2.026556e+10,2.139326e+10,2.301864e+10,2.418324e+10,2.531884e+10,2.605812e+10,2.703717e+10,2.795729e+10,1.952321e+11,0.04
197,Zimbabwe,1.204166e+10,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,1.271590e+11,0.02
198,Total GDP per Year,6.173469e+13,6.364073e+13,6.526190e+13,6.701777e+13,6.895413e+13,7.104548e+13,7.287522e+13,7.518124e+13,5.457112e+14,100.00

In [62]:
#to review data before assigning bins
GDP_growth_subtotals_df['Total GDP %'][0:-2].describe().round(2)

count    197.00
mean       0.51
std        2.08
min        0.00
25%        0.01
50%        0.03
75%        0.21
max       23.62
Name: Total GDP %, dtype: float64

In [66]:
# create bins which will allow us to extract data related to hypothesis

GDP_bins = []

for rows in GDP_growth_subtotals_df['Total GDP %']:
     if GDP_growth_subtotals_df['Total GDP %'].min() < rows <= 0:
        rows = 'Very Low'
     elif 0 < rows <= .01:
        rows = 'Low'
     elif .01 < rows <= .03:
        rows = 'Moderate'
     elif .03 < rows <= .1:
        rows = 'Medium'  
     elif .1 < rows <= 1:
        rows = 'High'
     elif 1 < rows <= 100:
        rows = 'Very High'
     GDP_bins.append(rows)

In [67]:
GDP_growth_subtotals_df['Total GDP Bins'] = GDP_bins
GDP_growth_subtotals_df.head()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,Total GDP,Total GDP %,Total GDP Bins
0,Pacific island small states,6.416547e+09,6.679807e+09,6.797337e+09,6.983945e+09,7.259504e+09,7.496900e+09,7.663213e+09,7.916644e+09,5.721390e+10,0.01,Low
1,Small states,3.943550e+11,4.201740e+11,4.339230e+11,4.456030e+11,4.571480e+11,4.687030e+11,4.769920e+11,4.858540e+11,3.582752e+12,0.66,High
2,Afghanistan,1.585657e+10,1.592418e+10,1.795488e+10,1.896048e+10,1.947707e+10,1.975974e+10,2.020638e+10,2.074494e+10,1.488842e+11,0.03,Moderate
3,Albania,1.192696e+10,1.223109e+10,1.240478e+10,1.252882e+10,1.275058e+10,1.303365e+10,1.347027e+10,1.398693e+10,1.023331e+11,0.02,Moderate
4,Algeria,1.612070e+11,1.658690e+11,1.714670e+11,1.762120e+11,1.828890e+11,1.897720e+11,1.960350e+11,1.991710e+11,1.442622e+12,0.26,High

### <font color = orange> Dataframe for Population </font>

#### Dataframe for Total Population

In [44]:
#filter df by Population, Total
pop_total_df = df_final.loc[df_final["Indicator Name"]== 'Population, total']
pop_total_df.head()

,Country Name,Indicator Name,2010,2011,2012,2013,2014,2015,2016,2017
58707,Pacific island small states,"Population, total",2214096.0,2242763.0,2271298.0,2300045.0,2329458.0,2358955.0,2388875.0,2418415.0
63504,Small states,"Population, total",35465245.0,36171934.0,36875022.0,37572012.0,38266156.0,38960406.0,39646847.0,40330352.0
76296,Afghanistan,"Population, total",28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
77895,Albania,"Population, total",2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
79494,Algeria,"Population, total",36117637.0,36819558.0,37565847.0,38338562.0,39113313.0,39871528.0,40606052.0,41318142.0

In [51]:
#to drop unnessary columns
population_df = pop_total_df.drop('Indicator Name', axis=1)
population_df = population_df.set_index('Country Name').reset_index()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017
0,Pacific island small states,2214096.0,2242763.0,2271298.0,2300045.0,2329458.0,2358955.0,2388875.0,2418415.0
1,Small states,35465245.0,36171934.0,36875022.0,37572012.0,38266156.0,38960406.0,39646847.0,40330352.0
2,Afghanistan,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
3,Albania,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Algeria,36117637.0,36819558.0,37565847.0,38338562.0,39113313.0,39871528.0,40606052.0,41318142.0

In [47]:
#to create a subtotals row for annual Population total
population_df_per_year = population_df.iloc[:,1:].sum(axis = 0)
population_subtotals_per_year = list(population_df_per_year.values)
population_subtotals_per_year

[6382805957.0,
 6457974263.0,
 6531058034.0,
 6609704062.0,
 6688866272.0,
 6767883844.0,
 6847183539.0,
 6925741773.0]

In [49]:
#make subtotal list into dataframe,using in a row format
Population_subtotals = pd.DataFrame({'Total Popu. per Year':population_subtotals_per_year}).T
#to rename index to fit 'GDP_per_growth_df'
Population_subtotals.index.name = 'Country Name'
Population_subtotals = Population_subtotals.rename(columns = {0: '2010',
                                                              1:"2011",
                                                              2:'2012',
                                                              3:'2013',
                                                              4:'2014',
                                                              5:'2015',
                                                              6:'2016',
                                                              7:'2017'   
                                                              }).reset_index()
Population_subtotals

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017
0,Total Popu. per Year,6.382806e+09,6.457974e+09,6.531058e+09,6.609704e+09,6.688866e+09,6.767884e+09,6.847184e+09,6.925742e+09

In [55]:
#to create a Total Population subtotal row for per year 
Population_subtotals_df = pd.concat([population_df,Population_subtotals],axis=0, join='outer', ignore_index=True)
Population_subtotals_df.tail()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017
194,Vietnam,8.847251e+07,8.943664e+07,9.045188e+07,9.149772e+07,9.254492e+07,9.357157e+07,9.456907e+07,9.554080e+07
195,West Bank and Gaza,3.811102e+06,3.927051e+06,4.046901e+06,4.169506e+06,4.294682e+06,4.422143e+06,4.551566e+06,4.684777e+06
196,Zambia,1.385003e+07,1.426476e+07,1.469994e+07,1.515321e+07,1.562097e+07,1.610059e+07,1.659139e+07,1.709413e+07
197,Zimbabwe,1.408632e+07,1.438665e+07,1.471083e+07,1.505451e+07,1.541168e+07,1.577745e+07,1.615036e+07,1.652990e+07
198,Total Popu. per Year,6.382806e+09,6.457974e+09,6.531058e+09,6.609704e+09,6.688866e+09,6.767884e+09,6.847184e+09,6.925742e+09

In [56]:
#to create a total column
Population_subtotals_df['Total Population'] = Population_subtotals_df.iloc[:,1:].sum(axis = 1)
Population_subtotals_df.tail()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,Total Population
194,Vietnam,8.847251e+07,8.943664e+07,9.045188e+07,9.149772e+07,9.254492e+07,9.357157e+07,9.456907e+07,9.554080e+07,7.360851e+08
195,West Bank and Gaza,3.811102e+06,3.927051e+06,4.046901e+06,4.169506e+06,4.294682e+06,4.422143e+06,4.551566e+06,4.684777e+06,3.390773e+07
196,Zambia,1.385003e+07,1.426476e+07,1.469994e+07,1.515321e+07,1.562097e+07,1.610059e+07,1.659139e+07,1.709413e+07,1.233750e+08
197,Zimbabwe,1.408632e+07,1.438665e+07,1.471083e+07,1.505451e+07,1.541168e+07,1.577745e+07,1.615036e+07,1.652990e+07,1.221077e+08
198,Total Popu. per Year,6.382806e+09,6.457974e+09,6.531058e+09,6.609704e+09,6.688866e+09,6.767884e+09,6.847184e+09,6.925742e+09,5.321122e+10

In [60]:
# to calculate % of population distribution
Population_subtotals_df['Total Population %'] = ((Population_subtotals_df.iloc[:,9]/Population_subtotals_df.iloc[-1,9]) * 100).round(2)

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,Total Population,Total Population %
40,China,1.337705e+09,1.344130e+09,1.350695e+09,1.357380e+09,1.364270e+09,1.371220e+09,1.378665e+09,1.386395e+09,1.089046e+10,20.47

In [61]:
#to review data before assigning bins
Population_subtotals_df['Total Population %'][0:-2].describe().round(2)

count    197.00
mean       0.51
std        2.07
min        0.00
25%        0.01
50%        0.08
75%        0.28
max       20.47
Name: Total Population %, dtype: float64

In [69]:
# create bins which will allow us to extract data related to hypothesis
pop_bins = []

for rows in Population_subtotals_df['Total Population %']:
     if Population_subtotals_df['Total Population %'].min() < rows <= 0.01:
        rows = 'Very Low'
     elif 0.01 < rows <= .09:
        rows = 'Low'
     elif .25 < rows <= 1:
        rows = 'Moderate'
     elif 1 < rows <= 10:
        rows = 'Medium'  
     elif 10 < rows <= 20:
        rows = 'High'
     elif 20 < rows <= 100:
        rows = 'Very High'
     pop_bins.append(rows)

In [70]:
Population_subtotals_df['Total GDP Bins'] = pop_bins
Population_subtotals_df.head()

,Country Name,2010,2011,2012,2013,2014,2015,2016,2017,Total Population,Total Population %,Total GDP Bins
0,Pacific island small states,2214096.0,2242763.0,2271298.0,2300045.0,2329458.0,2358955.0,2388875.0,2418415.0,18523905.0,0.03,Low
1,Small states,35465245.0,36171934.0,36875022.0,37572012.0,38266156.0,38960406.0,39646847.0,40330352.0,303287974.0,0.57,Moderate
2,Afghanistan,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,257621039.0,0.48,Moderate
3,Albania,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,23133074.0,0.04,Low
4,Algeria,36117637.0,36819558.0,37565847.0,38338562.0,39113313.0,39871528.0,40606052.0,41318142.0,309750639.0,0.58,Moderate

In [ ]:
#how to confirm that bins are properly distributed

#### Dataframe for Population Growth (annual %)

In [48]:
#filter df by Population, (annual %)
pop_per_growth_df = df_final.loc[df_final["Indicator Name"]== 'Population growth (annual %)']
pop_per_growth_df.head()

,Country Name,Indicator Name,2010,2011,2012,2013,2014,2015,2016,2017
58696,Pacific island small states,Population growth (annual %),1.339185,1.294750,1.272315,1.265664,1.278801,1.266260,1.268358,1.236565
63493,Small states,Population growth (annual %),2.088254,1.992624,1.943739,1.890141,1.847503,1.814266,1.761894,1.723983
76285,Afghanistan,Population growth (annual %),2.812617,3.095119,3.272703,3.315224,3.183201,2.943234,2.689163,2.490790
77884,Albania,Population growth (annual %),-0.496462,-0.269017,-0.165151,-0.183211,-0.207047,-0.291206,-0.159880,-0.091972
79483,Algeria,Population growth (annual %),1.821358,1.924787,2.006614,2.036092,2.000666,1.919959,1.825463,1.738456

### <font color= green> Dataframe for World Charts </font>

In [ ]:
df_w = df_columns_removed.loc[df_columns_removed['Indicator Name'].isin(list_indicators )].drop(['Country Code','Indicator Code'],axis=1)
df_w.head()

In [ ]:
df_w_1 = df_w.loc[df_w['Country Name'] == 'World']
df_w_2 = df_w_1.drop('Country Name', axis= 1)
df_w_3 = df_w_2.rename(columns={'Indicator Name':'Years'})
df_w_4 = df_w_3.set_index("Years").T
df_w_4.head()

In [ ]:
world_data = df_w_4.rename(columns={
                           "PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)":"PM2.5 Air Pollution (Mean Exposure)",
                           "Population, total":"Total Population"
                           })


world_data = world_data.apply(pd.to_numeric).round(2)
world_data

In [ ]:
#below is a summary table of the world data (no outliers removed)
world_data['PM2.5 Air Pollution(annual %)']=world_data['PM2.5 Air Pollution (Mean Exposure)'].pct_change()
world_data['PM2.5 Air Pollution(annual %)']=world_data['PM2.5 Air Pollution(annual %)']*100
world_data

In [ ]:
#create a table just for %s
world_data_per_growth_all = world_data.drop(['GDP (constant 2010 US$)','PM2.5 Air Pollution (Mean Exposure)','Total Population'], axis = 1)
#removing 2010 data for review
world_data_per_growth = world_data_per_growth_all.dropna()
world_data_per_growth

In [ ]:
#Generate a line graph plot    
ax = world_data_per_growth.plot.line(marker ="o",grid= True, figsize=(6,4), fontsize = 12)

#label axises
ax.set_ylabel("Growth Annual %")
ax.set_xlabel("Years")
ax.set_title('Anticipated Pollution Contributing Factors')

#format margins
ax.autoscale()
ax.use_sticky_edges = False

#assign font to legend
plt.legend(fontsize = 'small',loc='center left', bbox_to_anchor=(1, 0.5))

#format xticks
plt.yticks(np.arange(world_data_per_growth['PM2.5 Air Pollution(annual %)'].min(),world_data_per_growth['GDP growth (annual %)'].max()+1,.5))

# Save the Figure
plt.savefig('Anticipated_Pollution_Contributing_Factors.png',dpi=150, bbox_inches = 'tight')
plt.show()

In [ ]:
#x_axis_GDP = world_data['GDP growth (annual %)']
#x_axis_population = world_data['Population growth (annual %)']
#x_axis_pm25=world_data['PM2.5 Air Pollution(annual %)']
#plt.plot(x_axis_population, linewidth=1, color="red")
#plt.plot(x_axis_GDP, linewidth=1, color="blue")
#plt.plot(x_axis_pm25, linewidth=1, color="black")

#### Formating Values
The values need to be formated, however, it may be better to do that once the data can be classified as a series rather than a dataframe.

Thus we'll format in the final stage before graphing.