In [149]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import csv

In [150]:
csv_path = "../Project_1_AirPollution_vs_GDPperCapita/WDIData.csv"
WDIData_df = pd.read_csv(csv_path)
WDIData_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.844982,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.189815,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.530494,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN,NaN

In [151]:
WDIData_df_headers=list(WDIData_df.columns.values)

In [152]:
WDIData_df_years = WDIData_df_headers[-59:]

In [153]:
WDIData_df_years_drop = WDIData_df_years[0:51]

In [154]:
WDIData_df_years_drop_2018 = list([WDIData_df_years[-1]])

In [155]:
WDIData_df_drop = WDIData_df_years_drop + WDIData_df_years_drop_2018

In [156]:
WDIData_df_1= WDIData_df.drop(WDIData_df_drop,axis=1)

In [157]:
WDIData_df_1.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,2011,2012,2013,2014,2015,2016,2017
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN
5,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,95.985879,96.006040,96.386068,96.411431,96.574021,96.704393,NaN
6,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,22.260538,NaN,NaN,30.277130,NaN,NaN,37.165211
7,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,13.775815,NaN,NaN,22.079350,NaN,NaN,25.635403
8,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,30.377668,NaN,NaN,37.790764,NaN,NaN,48.328518
9,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,25.741285,NaN,NaN,34.216583,NaN,NaN,42.542046

In [158]:
Indicator_Name =  WDIData_df_1['Indicator Name']=="CO2 emissions (metric tons per capita)"

Indicator_Name.head()

0    False
1    False
2    False
3    False
4    False
Name: Indicator Name, dtype: bool

In [159]:
WDIData_df_2 = WDIData_df_1[Indicator_Name]

In [160]:
WDIData_df_2.shape

(264, 11)

In [161]:
WDIData_df_2.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,2011,2012,2013,2014,2015,2016,2017
206,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.537755,4.813631,4.650474,4.860234,NaN,NaN,NaN
1805,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.143734,8.886378,9.138025,8.884541,NaN,NaN,NaN
3404,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.864349,6.504367,6.344838,6.148883,NaN,NaN,NaN
5003,Early-demographic dividend,EAR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.201370,2.295943,2.210865,2.295302,NaN,NaN,NaN
6602,East Asia & Pacific,EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.190023,6.307118,6.330498,6.293605,NaN,NaN,NaN
8201,East Asia & Pacific (excluding high income),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.641636,5.773224,5.790460,5.775478,NaN,NaN,NaN
9800,East Asia & Pacific (IDA & IBRD countries),TEA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.688488,5.821254,5.845318,5.827867,NaN,NaN,NaN
11399,Euro area,EMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.161470,6.997097,6.844462,6.474921,NaN,NaN,NaN
12998,Europe & Central Asia,ECS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.500065,7.473207,7.289242,6.916049,NaN,NaN,NaN
14597,Europe & Central Asia (excluding high income),ECA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.883872,7.999170,7.733276,7.421328,NaN,NaN,NaN

In [162]:
csv_path_2 = "../Project_1_AirPollution_vs_GDPperCapita/WDI_Country_Code_and_Names.csv"
Country_df = pd.read_csv(csv_path)
Country_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.844982,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.189815,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.530494,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN,NaN

In [163]:
Country_df_headers=list(Country_df.columns.values)

In [164]:
Country_df_years = Country_df_headers[-59:]

In [165]:
Country_df_years_drop = Country_df_years[0:52]

In [166]:
Country_df_years_drop_2018 = list([WDIData_df_years[-1]])

In [167]:
Country_df_drop = Country_df_years_drop + Country_df_years_drop_2018

In [168]:
Country_df_1= Country_df.drop(Country_df_drop,axis=1)

In [169]:
Country_df_1.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2012,2013,2014,2015,2016,2017
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,83.169227,83.587141,83.954293,84.230630,84.570425,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,87.288244,88.389705,88.076774,88.517967,88.768654,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,76.772916,78.839139,77.487377,78.564439,78.958780,NaN

In [170]:
Indicator_Name_2 =  Country_df_1['Indicator Name']=="Population, total"
Indicator_Name_2.head()

0    False
1    False
2    False
3    False
4    False
Name: Indicator Name, dtype: bool

In [171]:
Country_df_2 = Country_df_1[Indicator_Name_2]

In [172]:
Country_df_2.shape

(264, 10)

In [173]:
Country_df_2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2012,2013,2014,2015,2016,2017
1143,Arab World,ARB,"Population, total",SP.POP.TOTL,3.733070e+08,3.817021e+08,3.900430e+08,3.983050e+08,4.064527e+08,4.144919e+08
2742,Caribbean small states,CSS,"Population, total",SP.POP.TOTL,7.074129e+06,7.118888e+06,7.162679e+06,7.204948e+06,7.245472e+06,7.284294e+06
4341,Central Europe and the Baltics,CEB,"Population, total",SP.POP.TOTL,1.039353e+08,1.037137e+08,1.034962e+08,1.032578e+08,1.029943e+08,1.027353e+08
5940,Early-demographic dividend,EAR,"Population, total",SP.POP.TOTL,2.997066e+09,3.040701e+09,3.084236e+09,3.127579e+09,3.170658e+09,3.213428e+09
7539,East Asia & Pacific,EAS,"Population, total",SP.POP.TOTL,2.237073e+09,2.252293e+09,2.267717e+09,2.283073e+09,2.298707e+09,2.314368e+09

In [174]:
merge_df = pd.merge(WDIData_df_2, Country_df_2, on="Country Code", how="inner")
merge_df

,Country Name_x,Country Code,Indicator Name_x,Indicator Code_x,2011,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,Country Name_y,Indicator Name_y,Indicator Code_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y
0,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.537755,4.813631,4.650474,4.860234,NaN,NaN,NaN,Arab World,"Population, total",SP.POP.TOTL,3.733070e+08,3.817021e+08,3.900430e+08,3.983050e+08,4.064527e+08,4.144919e+08
1,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.143734,8.886378,9.138025,8.884541,NaN,NaN,NaN,Caribbean small states,"Population, total",SP.POP.TOTL,7.074129e+06,7.118888e+06,7.162679e+06,7.204948e+06,7.245472e+06,7.284294e+06
2,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.864349,6.504367,6.344838,6.148883,NaN,NaN,NaN,Central Europe and the Baltics,"Population, total",SP.POP.TOTL,1.039353e+08,1.037137e+08,1.034962e+08,1.032578e+08,1.029943e+08,1.027353e+08
3,Early-demographic dividend,EAR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.201370,2.295943,2.210865,2.295302,NaN,NaN,NaN,Early-demographic dividend,"Population, total",SP.POP.TOTL,2.997066e+09,3.040701e+09,3.084236e+09,3.127579e+09,3.170658e+09,3.213428e+09
4,East Asia & Pacific,EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.190023,6.307118,6.330498,6.293605,NaN,NaN,NaN,East Asia & Pacific,"Population, total",SP.POP.TOTL,2.237073e+09,2.252293e+09,2.267717e+09,2.283073e+09,2.298707e+09,2.314368e+09
5,East Asia & Pacific (excluding high income),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.641636,5.773224,5.790460,5.775478,NaN,NaN,NaN,East Asia & Pacific (excluding high income),"Population, total",SP.POP.TOTL,1.994651e+09,2.009173e+09,2.023837e+09,2.038411e+09,2.053299e+09,2.068308e+09
6,East Asia & Pacific (IDA & IBRD countries),TEA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.688488,5.821254,5.845318,5.827867,NaN,NaN,NaN,East Asia & Pacific (IDA & IBRD countries),"Population, total",SP.POP.TOTL,1.969763e+09,1.984153e+09,1.998686e+09,2.013133e+09,2.027896e+09,2.042783e+09
7,Euro area,EMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.161470,6.997097,6.844462,6.474921,NaN,NaN,NaN,Euro area,"Population, total",SP.POP.TOTL,3.361592e+08,3.373021e+08,3.384663e+08,3.395335e+08,3.406169e+08,3.414434e+08
8,Europe & Central Asia,ECS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.500065,7.473207,7.289242,6.916049,NaN,NaN,NaN,Europe & Central Asia,"Population, total",SP.POP.TOTL,8.945625e+08,8.987997e+08,9.031156e+08,9.074328e+08,9.116940e+08,9.154839e+08
9,Europe & Central Asia (excluding high income),ECA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.883872,7.999170,7.733276,7.421328,NaN,NaN,NaN,Europe & Central Asia (excluding high income),"Population, total",SP.POP.TOTL,4.033436e+08,4.058129e+08,4.082640e+08,4.107790e+08,4.132431e+08,4.155329e+08
10,Europe & Central Asia (IDA & IBRD countries),TEC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.889579,7.951643,7.716045,7.395961,NaN,NaN,NaN,Europe & Central Asia (IDA & IBRD countries),"Population, total",SP.POP.TOTL,4.456743e+08,4.481088e+08,4.505142e+08,4.529690e+08,4.553876e+08,4.576323e+08
11,European Union,EUU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.079461,6.917803,6.753825,6.379149,NaN,NaN,NaN,European Union,"Population, total",SP.POP.TOTL,5.050962e+08,5.065977e+08,5.081939e+08,5.097176e+08,5.112185e+08,5.124310e+08
12,Fragile and conflict affected situations,FCS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.825988,0.841905,0.880021,0.886959,NaN,NaN,NaN,Fragile and conflict affected situations,"Population, total",SP.POP.TOTL,4.546189e+08,4.655154e+08,4.766081e+08,4.879236e+08,4.995085e+08,5.113366e+08
13,Heavily indebted poor countries (HIPC),HPC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.232660,0.240601,0.254597,0.265342,NaN,NaN,NaN,Heavily indebted poor countries (HIPC),"Population, total",SP.POP.TOTL,6.664886e+08,6.854020e+08,7.047454e+08,7.244827e+08,7.446030e+08,7.651123e+08
14,High income,HIC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,11.029567,10.857440,10.774351,10.712692,NaN,NaN,NaN,High income,"Population, total",SP.POP.TOTL,1.211908e+09,1.219339e+09,1.226947e+09,1.234380e+09,1.241783e+09,1.248439e+09
15,IBRD only,IBD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.409296,4.522700,4.500929,4.508561,NaN,NaN,NaN,IBRD only,"Population, total",SP.POP.TOTL,4.519456e+09,4.564827e+09,4.610015e+09,4.654723e+09,4.699240e+09,4.743252e+09
16,IDA & IBRD total,IBT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.484818,3.560119,3.535433,3.529661,NaN,NaN,NaN,IDA & IBRD total,"Population, total",SP.POP.TOTL,5.957572e+09,6.036055e+09,6.114993e+09,6.194071e+09,6.273593e+09,6.353188e+09
17,IDA blend,IDB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.939871,0.937522,0.930803,0.880445,NaN,NaN,NaN,IDA blend,"Population, total",SP.POP.TOTL,4.749935e+08,4.862619e+08,4.977516e+08,5.093964e+08,5.211590e+08,5.330229e+08
18,IDA only,IDX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.335719,0.325676,0.336242,0.348440,NaN,NaN,NaN,IDA only,"Population, total",SP.POP.TOTL,9.631227e+08,9.849661e+08,1.007226e+09,1.029952e+09,1.053194e+09,1.076914e+09
19,IDA total,IDA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.536908,0.529591,0.534504,0.525891,NaN,NaN,NaN,IDA total,"Population, total",SP.POP.TOTL,1.438116e+09,1.471228e+09,1.504978e+09,1.539348e+09,1.574353e+09,1.609937e+09
20,Late-demographic dividend,LTE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.553544,6.703792,6.770471,6.744762,NaN,NaN,NaN,Late-demographic dividend,"Population, total",SP.POP.TOTL,2.209612e+09,2.223399e+09,2.237241e+09,2.250821e+09,2.264577e+09,2.278213e+09
21,Latin America & Caribbean,LCN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.930914,3.025851,3.036040,3.063307,NaN,NaN,NaN,Latin America & Caribbean,"Population, total",SP.POP.TOTL,6.105479e+08,6.174957e+08,6.243355e+08,6.310626e+08,6.376639e+08,6.441247e+08
22,Latin America & Caribbean (excluding high income),LAC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.634372,2.745712,2.763729,2.781102,NaN,NaN,NaN,Latin America & Caribbean (excluding high income),"Population, total",SP.POP.TOTL,5.376457e+08,5.439408e+08,5.501499e+08,5.562579e+08,5.622548e+08,5.681368e+08
23,Latin America & the Caribbean (IDA & IBRD coun...,TLA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.894576,2.992217,3.005566,3.032805,NaN,NaN,NaN,Latin America & the Caribbean (IDA & IBRD coun...,"Population, total",SP.POP.TOTL,5.943307e+08,6.012772e+08,6.081360e+08,6.148920e+08,6.215349e+08,6.280598e+08
24,Least developed countries: UN classification,LDC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.278625,0.278406,0.294526,0.314163,NaN,NaN,NaN,Least developed countries: UN classification,"Population, total",SP.POP.TOTL,8.904235e+08,9.120940e+08,9.341923e+08,9.566311e+08,9.793879e+08,1.002486e+09
25,Low & middle income,LMY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.425673,3.505953,3.479150,3.476110,NaN,NaN,NaN,Low & middle income,"Population, total",SP.POP.TOTL,5.887403e+09,5.965522e+09,6.044110e+09,6.122854e+09,6.202028e+09,6.281280e+09
26,Low income,LIC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.352098,0.325237,0.315277,0.320595,NaN,NaN,NaN,Low income,"Population, total",SP.POP.TOTL,6.449019e+08,6.615506e+08,6.785721e+08,6.960585e+08,7.140223e+08,7.324486e+08
27,Lower middle income,LMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.443322,1.511186,1.439193,1.474026,NaN,NaN,NaN,Lower middle income,"Population, total",SP.POP.TOTL,2.764010e+09,2.805787e+09,2.847558e+09,2.889358e+09,2.931084e+09,2.972650e+09
28,Middle East & North Africa,MEA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.793992,6.099270,5.921627,6.159356,NaN,NaN,NaN,Middle East & North Africa,"Population, total",SP.POP.TOTL,4.047830e+08,4.129530e+08,4.210300e+08,4.289749e+08,4.367380e+08,4.443260e+08
29,Middle East & North Africa (excluding high inc...,MNA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.822478,3.926382,3.914188,3.927253,NaN,NaN,NaN,Middle East & North Africa (excluding high inc...,"Population, total",SP.POP.TOTL,3.481957e+08,3.546410e+08,3.610780e+08,3.674493e+08,3.737191e+08,3.799018e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Sweden,SWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.474957,4.942301,4.671421,4.478182,NaN,NaN,NaN,Sweden,"Population, total",SP.POP.TOTL,9.519374e+06,9.600379e+06,9.696110e+06,9.799186e+06,9.923085e+06,1.005770e+07
235,Switzerland,CHE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.672038,4.723574,4.972836,4.311563,NaN,NaN,NaN,Switzerland,"Population, total",SP.POP.TOTL,7.996861e+06,8.089346e+06,8.188649e+06,8.282396e+06,8.373338e+06,8.450851e+06
236,Syrian Arab Republic,SYR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.727578,2.190428,1.839503,1.598898,NaN,NaN,NaN,Syrian Arab Republic,"Population, total",SP.POP.TOTL,2.042070e+07,1.980914e+07,1.920309e+07,1.873499e+07,1.843045e+07,1.826987e+07
237,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.300737,0.366926,0.425540,0.620467,NaN,NaN,NaN,Tajikistan,"Population, total",SP.POP.TOTL,7.995062e+06,8.177809e+06,8.362745e+06,8.548651e+06,8.734951e+06,8.921343e+06
238,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.170126,0.194471,0.220730,0.221347,NaN,NaN,NaN,Tanzania,"Population, total",SP.POP.TOTL,4.908300e+07,5.063660e+07,5.223487e+07,5.387996e+07,5.557220e+07,5.731002e+07
239,Thailand,THA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.121389,4.371765,4.403808,4.621860,NaN,NaN,NaN,Thailand,"Population, total",SP.POP.TOTL,6.784398e+07,6.814306e+07,6.841677e+07,6.865760e+07,6.886351e+07,6.903751e+07
240,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.217131,0.253605,0.371541,0.387014,NaN,NaN,NaN,Timor-Leste,"Population, total",SP.POP.TOTL,1.156760e+06,1.184366e+06,1.212814e+06,1.240977e+06,1.268671e+06,1.296311e+06
241,Togo,TGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.368935,0.362451,0.377480,0.362697,NaN,NaN,NaN,Togo,"Population, total",SP.POP.TOTL,6.859482e+06,7.042948e+06,7.228915e+06,7.416802e+06,7.606374e+06,7.797694e+06
242,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.981822,1.013263,1.079267,1.143966,NaN,NaN,NaN,Tonga,"Population, total",SP.POP.TOTL,1.049510e+05,1.053280e+05,1.057820e+05,1.063640e+05,1.071220e+05,1.080200e+05
243,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,35.162088,33.855000,34.520032,34.163243,NaN,NaN,NaN,Trinidad and Tobago,"Population, total",SP.POP.TOTL,1.341588e+06,1.348248e+06,1.354493e+06,1.360092e+06,1.364962e+06,1.369125e+06
244,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.417982,2.480446,2.511904,2.587060,NaN,NaN,NaN,Tunisia,"Population, total",SP.POP.TOTL,1.088667e+07,1.101456e+07,1.114391e+07,1.127366e+07,1.140325e+07,1.153213e+07
245,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.370561,4.419488,4.285301,4.491479,NaN,NaN,NaN,Turkey,"Population, total",SP.POP.TOTL,7.456987e+07,7.578733e+07,7.703063e+07,7.827147e+07,7.951243e+07,8.074502e+07
246,Turkmenistan,TKM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,12.073175,12.314897,12.436133,12.517295,NaN,NaN,NaN,Turkmenistan,"Population, total",SP.POP.TOTL,5.267839e+06,5.366277e+06,5.466241e+06,5.565284e+06,5.662544e+06,5.758075e+06
247,Turks and Caicos Islands,TCA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.009391,6.105825,5.980971,6.086487,NaN,NaN,NaN,Turks and Caicos Islands,"Population, total",SP.POP.TOTL,3.243100e+04,3.310800e+04,3.373900e+04,3.433900e+04,3.490000e+04,3.544600e+04
248,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.690064,1.025734,1.016822,1.008526,NaN,NaN,NaN,Tuvalu,"Population, total",SP.POP.TOTL,1.072500e+04,1.081900e+04,1.090800e+04,1.100100e+04,1.109700e+04,1.119200e+04
249,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.121524,0.112110,0.129675,0.134656,NaN,NaN,NaN,Uganda,"Population, total",SP.POP.TOTL,3.630680e+07,3.755373e+07,3.883334e+07,4.014487e+07,4.148796e+07,4.286296e+07
250,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.265962,6.487603,5.976642,5.020747,NaN,NaN,NaN,Ukraine,"Population, total",SP.POP.TOTL,4.559330e+07,4.548960e+07,4.527195e+07,4.515403e+07,4.500464e+07,4.483114e+07
251,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,19.076489,19.817684,18.954164,23.302023,NaN,NaN,NaN,United Arab Emirates,"Population, total",SP.POP.TOTL,8.900453e+06,9.006263e+06,9.070867e+06,9.154302e+06,9.269612e+06,9.400145e+06
252,United Kingdom,GBR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.079298,7.355898,7.145844,6.497440,NaN,NaN,NaN,United Kingdom,"Population, total",SP.POP.TOTL,6.370030e+07,6.412823e+07,6.461316e+07,6.512886e+07,6.559556e+07,6.602329e+07
253,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,16.976957,16.310471,16.323477,16.502837,NaN,NaN,NaN,United States,"Population, total",SP.POP.TOTL,3.138742e+08,3.160577e+08,3.183864e+08,3.207427e+08,3.230713e+08,3.251471e+08
254,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.292942,2.559620,2.226236,1.973151,NaN,NaN,NaN,Uruguay,"Population, total",SP.POP.TOTL,3.396777e+06,3.408005e+06,3.419546e+06,3.431552e+06,3.444006e+06,3.456750e+06
255,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.874801,3.889733,3.417442,3.420723,NaN,NaN,NaN,Uzbekistan,"Population, total",SP.POP.TOTL,2.977450e+07,3.024320e+07,3.075770e+07,3.129890e+07,3.184790e+07,3.238720e+07
256,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.545795,0.459329,0.420092,0.594993,NaN,NaN,NaN,Vanuatu,"Population, total",SP.POP.TOTL,2.474850e+05,2.531420e+05,2.588500e+05,2.646030e+05,2.704020e+05,2.762440e+05
257,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.001459,6.649233,6.066461,6.025698,NaN,NaN,NaN,"Venezuela, RB","Population, total",SP.POP.TOTL,2.989308e+07,3.031785e+07,3.073838e+07,3.115513e+07,3.156818e+07,3.197706e+07
258,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701422,1.572338,1.609112,1.803566,NaN,NaN,NaN,Vietnam,"Population, total",SP.POP.TOTL,9.045188e+07,9.149772e+07,9.254492e+07,9.357157e+07,9.456907e+07,9.554080e+07
259,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands (U.S.),"Population, total",SP.POP.TOTL,1.081910e+05,1.080440e+05,1.078840e+05,1.077100e+05,1.075100e+05,1.072680e+05
260,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.572407,0.543675,0.584855,NaN,NaN,NaN,NaN,West Bank and Gaza,"Population, total",SP.POP.TOTL,4.046901e+06,4.169506e+06,4.294682e+06,4.422143e+06,4.551566e+06,4.684777e+06
261,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.810900,0.749447,0.996885,0.864835,NaN,NaN,NaN,"Yemen, Rep.","Population, total",SP.POP.TOTL,2.490997e+07,2.557632e+07,2.624633e+07,2.691621e+07,2.758421e+07,2.825042e+07
262,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.205911,0.249457,0.261113,0.288271,NaN,NaN,NaN,Zambia,"Population, total",SP.POP.TOTL,1.469994e+07,1.515321e+07,1.562097e+07,1.610059e+07,1.659139e+07,1.709413e+07
263,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.664751,0.529703,0.775564,0.779956,NaN,NaN,NaN,Zimbabwe,"Population, total",SP.POP.TOTL,1.471083e+07,1.505451e+07,1.541168e+07,1.577745e+07,1.615036e+07,1.652990e+07

In [175]:
merge_df.to_csv(index=False)

'Country Name_x,Country Code,Indicator Name_x,Indicator Code_x,2011,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,Country Name_y,Indicator Name_y,Indicator Code_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y\r\nArab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.537755236000001,4.813630727,4.650474168,4.860233832,,,,Arab World,"Population, total",SP.POP.TOTL,373306993.0,381702086.0,390043028.0,398304960.0,406452690.0,414491886.0\r\nCaribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.143734221,8.886377531,9.138025489,8.884541385,,,,Caribbean small states,"Population, total",SP.POP.TOTL,7074129.0,7118888.0,7162679.0,7204948.0,7245472.0,7284294.0\r\nCentral Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.864349465,6.504366995,6.344838262000001,6.14888254,,,,Central Europe and the Baltics,"Population, total",SP.POP.TOTL,103935318.0,103713726.0,103496179.0,103257751.0,102994343.0,102735349.0\r\nEarly-demographic dividend,EAR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.201370084,2.2959426819999997,2.210865063,2.295302152,,,,Early-demographic dividend,"Population, total",SP.POP.TOTL,2997066325.0,3040700765.0,3084236443.0,3127578757.0,3170657660.0,3213427823.0\r\nEast Asia & Pacific,EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.1900228639999995,6.307117957000001,6.330498005,6.293604976,,,,East Asia & Pacific,"Population, total",SP.POP.TOTL,2237073498.0,2252293463.0,2267716950.0,2283072846.0,2298707239.0,2314367614.0\r\nEast Asia & Pacific (excluding high income),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.641636355,5.773224485,5.790459749,5.775478345,,,,East Asia & Pacific (excluding high income),"Population, total",SP.POP.TOTL,1994651365.0,2009173000.0,2023837097.0,2038410865.0,2053299126.0,2068307600.0\r\nEast Asia & Pacific (IDA & IBRD countries),TEA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.688487868999999,5.821253522,5.845317569,5.827867179,,,,East Asia & Pacific (IDA & IBRD countries),"Population, total",SP.POP.TOTL,1969762859.0,1984152637.0,1998686391.0,2013132699.0,2027896410.0,2042782723.0\r\nEuro area,EMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.16146999,6.997097054,6.844462028,6.474920547999999,,,,Euro area,"Population, total",SP.POP.TOTL,336159190.0,337302116.0,338466271.0,339533474.0,340616862.0,341443382.0\r\nEurope & Central Asia,ECS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.5000651320000005,7.473206993,7.289242461000001,6.916049326,,,,Europe & Central Asia,"Population, total",SP.POP.TOTL,894562528.0,898799706.0,903115574.0,907432777.0,911694031.0,915483880.0\r\nEurope & Central Asia (excluding high income),ECA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.883872362000001,7.999170481,7.733275947,7.421328159,,,,Europe & Central Asia (excluding high income),"Population, total",SP.POP.TOTL,403343565.0,405812898.0,408264037.0,410778989.0,413243140.0,415532934.0\r\nEurope & Central Asia (IDA & IBRD countries),TEC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.889579095,7.95164336,7.716044877000001,7.39596064,,,,Europe & Central Asia (IDA & IBRD countries),"Population, total",SP.POP.TOTL,445674287.0,448108783.0,450514161.0,452969005.0,455387576.0,457632291.0\r\nEuropean Union,EUU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.07946092,6.917802512000001,6.75382527,6.379148848,,,,European Union,"Population, total",SP.POP.TOTL,505096228.0,506597700.0,508193872.0,509717579.0,511218467.0,512431044.0\r\nFragile and conflict affected situations,FCS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.8259877859999999,0.841904675,0.8800205740000001,0.886959024,,,,Fragile and conflict affected situations,"Population, total",SP.POP.TOTL,454618893.0,465515402.0,476608101.0,487923553.0,499508468.0,511336623.0\r\nHeavily indebted poor countries (HIPC),HPC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.232659952,0.240601121,0.25459735899999997,0.26534215,,,,Heavily indebted poor countries (HIPC),"Population, total",SP.POP.TOTL,666488623.0,685401960.0,704745420.0,724482652.0,744602976.0,765112280.0\r\nHigh income,HIC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,11.02956715,10.85743975,10.77435126,10.71269229,,,,High income,"Population, total",SP.POP.TOTL,1211908469.0,1219339174.0,1226947377.0,1234380005.0,1241782962.0,1248439499.0\r\nIBRD only,IBD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.409296426,4.522700296,4.5009285519999995,4.508560978999999,,,,IBRD only,"Population, total",SP.POP.TOTL,4519455787.0,4564826733.0,4610015057.0,4654722658.0,4699240160.0,4743251569.0\r\nIDA & IBRD total,IBT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.4848175539999997,3.5601192939999997,3.535432676,3.529660952,,,,IDA & IBRD total,"Population, total",SP.POP.TOTL,5957572051.0,6036054686.0,6114992618.0,6194070829.0,6273592853.0,6353188384.0\r\nIDA blend,IDB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.939870757,0.937521858,0.930803298,0.880445467,,,,IDA blend,"Population, total",SP.POP.TOTL,474993526.0,486261860.0,497751634.0,509396383.0,521159047.0,533022904.0\r\nIDA only,IDX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.33571867200000005,0.325675765,0.336241561,0.34844039299999996,,,,IDA only,"Population, total",SP.POP.TOTL,963122738.0,984966093.0,1007225927.0,1029951788.0,1053193646.0,1076913911.0\r\nIDA total,IDA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.536908204,0.529591478,0.5345037579999999,0.525891424,,,,IDA total,"Population, total",SP.POP.TOTL,1438116264.0,1471227953.0,1504977561.0,1539348171.0,1574352693.0,1609936815.0\r\nLate-demographic dividend,LTE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.553544469,6.703792067999999,6.770471226000001,6.744762333,,,,Late-demographic dividend,"Population, total",SP.POP.TOTL,2209612378.0,2223399056.0,2237241304.0,2250820960.0,2264577161.0,2278213001.0\r\nLatin America & Caribbean,LCN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.9309144910000002,3.02585131,3.0360400960000002,3.0633070989999998,,,,Latin America & Caribbean,"Population, total",SP.POP.TOTL,610547919.0,617495658.0,624335544.0,631062646.0,637663866.0,644124651.0\r\nLatin America & Caribbean (excluding high income),LAC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.634371722,2.745712339,2.763729253,2.7811017560000004,,,,Latin America & Caribbean (excluding high income),"Population, total",SP.POP.TOTL,537645733.0,543940758.0,550149862.0,556257851.0,562254848.0,568136842.0\r\nLatin America & the Caribbean (IDA & IBRD countries),TLA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.894576438,2.9922171719999997,3.005565912,3.0328049060000004,,,,Latin America & the Caribbean (IDA & IBRD countries),"Population, total",SP.POP.TOTL,594330743.0,601277206.0,608136047.0,614891969.0,621534921.0,628059792.0\r\nLeast developed countries: UN classification,LDC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.278625092,0.278405674,0.294525992,0.314163047,,,,Least developed countries: UN classification,"Population, total",SP.POP.TOTL,890423474.0,912093996.0,934192321.0,956631108.0,979387925.0,1002485957.0\r\nLow & middle income,LMY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.425672987,3.5059530239999996,3.479149777,3.476109882,,,,Low & middle income,"Population, total",SP.POP.TOTL,5887403423.0,5965522273.0,6044110338.0,6122853585.0,6202027949.0,6281279888.0\r\nLow income,LIC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.35209809200000003,0.325237326,0.315277065,0.320595161,,,,Low income,"Population, total",SP.POP.TOTL,644901894.0,661550623.0,678572076.0,696058453.0,714022293.0,732448558.0\r\nLower middle income,LMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.443321829,1.511185754,1.439193365,1.4740255080000002,,,,Lower middle income,"Population, total",SP.POP.TOTL,2764009843.0,2805787440.0,2847558498.0,2889358075.0,2931083733.0,2972649833.0\r\nMiddle East & North Africa,MEA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.793991934,6.0992703939999995,5.92162696,6.1593560489999994,,,,Middle East & North Africa,"Population, total",SP.POP.TOTL,404783020.0,412953000.0,421030035.0,428974903.0,436738031.0,444326024.0\r\nMiddle East & North Africa (excluding high income),MNA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.8224776069999997,3.9263818789999996,3.914188367,3.927253364,,,,Middle East & North Africa (excluding high income),"Population, total",SP.POP.TOTL,348195697.0,354641044.0,361077997.0,367449306.0,373719055.0,379901782.0\r\nMiddle East & North Africa (IDA & IBRD countries),TMN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.86025027,3.9661596689999996,3.9537969389999996,3.967544488,,,,Middle East & North Africa (IDA & IBRD countries),"Population, total",SP.POP.TOTL,344148796.0,350471538.0,356783315.0,363027163.0,369167489.0,375217005.0\r\nMiddle income,MIC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.7975284310000004,3.896148298,3.8726904039999996,3.874128243,,,,Middle income,"Population, total",SP.POP.TOTL,5242501529.0,5303971650.0,5365538262.0,5426795132.0,5488005656.0,5548831330.0\r\nNorth America,NAC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,16.84234115,16.16730584,16.16049659,16.36232406,,,,North America,"Population, total",SP.POP.TOTL,348689561.0,351275098.0,353986908.0,356640425.0,359401287.0,361920645.0\r\nNot classified,INX,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,,,,,,,,Not classified,"Population, total",SP.POP.TOTL,,,,,,\r\nOECD members,OED,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.964278019,9.754415001,9.681807397,9.523556491,,,,OECD members,"Population, total",SP.POP.TOTL,1259459408.0,1267516076.0,1275900506.0,1284164313.0,1292500653.0,1300249533.0\r\nOther small states,OSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.78463419,7.007403494,6.68853493,7.5193118310000004,,,,Other small states,"Population, total",SP.POP.TOTL,27529595.0,28153079.0,28774019.0,29396503.0,30012500.0,30627643.0\r\nPacific island small states,PSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.030073173,1.004216091,1.039494445,1.064149686,,,,Pacific island small states,"Population, total",SP.POP.TOTL,2271298.0,2300045.0,2329458.0,2358955.0,2388875.0,2418415.0\r\nPost-demographic dividend,PST,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,10.83341768,10.59881387,10.54176265,10.35677267,,,,Post-demographic dividend,"Population, total",SP.POP.TOTL,1082578026.0,1087392249.0,1092414320.0,1097402262.0,1102423577.0,1106748580.0\r\nPre-demographic dividend,PRE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.504192971,0.523535454,0.535839629,0.536757223,,,,Pre-demographic dividend,"Population, total",SP.POP.TOTL,783505835.0,806705375.0,830442736.0,854646007.0,879292453.0,904399841.0\r\nSmall states,SST,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.889462975,7.000805122,6.809865439,7.384025519,,,,Small states,"Population, total",SP.POP.TOTL,36875022.0,37572012.0,38266156.0,38960406.0,39646847.0,40330352.0\r\nSouth Asia,SAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.270878874,1.362315313,1.35522147,1.4614674630000002,,,,South Asia,"Population, total",SP.POP.TOTL,1676615491.0,1699310450.0,1721854786.0,1744199944.0,1766393714.0,1788388852.0\r\nSouth Asia (IDA & IBRD),TSA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.270878874,1.362315313,1.35522147,1.4614674630000002,,,,South Asia (IDA & IBRD),"Population, total",SP.POP.TOTL,1676615491.0,1699310450.0,1721854786.0,1744199944.0,1766393714.0,1788388852.0\r\nSub-Saharan Africa,SSF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.8401180009999999,0.8279600490000001,0.82300949,0.840453498,,,,Sub-Saharan Africa,"Population, total",SP.POP.TOTL,927039875.0,952734072.0,979017918.0,1005850049.0,1033212743.0,1061107721.0\r\nSub-Saharan Africa (excluding high income),SSA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.839824281,0.8275661320000001,0.822666074,0.840028002,,,,Sub-Saharan Africa (excluding high income),"Population, total",SP.POP.TOTL,926951572.0,952644123.0,978926559.0,1005756630.0,1033118066.0,1061011878.0\r\nSub-Saharan Africa (IDA & IBRD countries),TSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.8401180009999999,0.8279600490000001,0.82300949,0.840453498,,,,Sub-Saharan Africa (IDA & IBRD countries),"Population, total",SP.POP.TOTL,927039875.0,952734072.0,979017918.0,1005850049.0,1033212743.0,1061107721.0\r\nUpper middle income,UMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.403580886,6.555613877000001,6.605490361,6.588135175,,,,Upper middle income,"Population, total",SP.POP.TOTL,2478491686.0,2498184210.0,2517979764.0,2537437057.0,2556921923.0,2576181497.0\r\nWorld,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.967716837,4.996384374,4.987930702,4.970155157,,,,World,"Population, total",SP.POP.TOTL,7099311892.0,7184861447.0,7271057715.0,7357233590.0,7443810911.0,7529719387.0\r\nAfghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.41201693799999994,0.350370581,0.31560177300000003,0.299444991,,,,Afghanistan,"Population, total",SP.POP.TOTL,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0\r\nAlbania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.803714725,1.692908325,1.7492110790000002,1.9787633119999999,,,,Albania,"Population, total",SP.POP.TOTL,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0\r\nAlgeria,DZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.2913761760000004,3.46026581,3.5073100289999997,3.7174099010000003,,,,Algeria,"Population, total",SP.POP.TOTL,37565847.0,38338562.0,39113313.0,39871528.0,40606052.0,41318142.0\r\nAmerican Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,,,,,,,,American Samoa,"Population, total",SP.POP.TOTL,55230.0,55307.0,55437.0,55537.0,55599.0,55641.0\r\nAndorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.867129945,5.916596911,5.900752587,5.832169951,,,,Andorra,"Population, total",SP.POP.TOTL,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0\r\nAngola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.252789255,1.330843018,1.254617218,1.291328315,,,,Angola,"Population, total",SP.POP.TOTL,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0\r\nAntigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.363407474,5.418446532000001,5.360453467,5.3776485460000005,,,,Antigua and Barbuda,"Population, total",SP.POP.TOTL,96777.0,97824.0,98875.0,99923.0,100963.0,102012.0\r\nArgentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.600290698999999,4.569383676,4.462903755,4.746797455,,,,Argentina,"Population, total",SP.POP.TOTL,42096739.0,42539925.0,42981515.0,43417765.0,43847430.0,44271041.0\r\nArmenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.710070765,1.976060074,1.899711734,1.90275891,,,,Armenia,"Population, total",SP.POP.TOTL,2881922.0,2893509.0,2906220.0,2916950.0,2924816.0,2930450.0\r\nAruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,24.5058352,13.15554169,8.351294252,8.408362638,,,,Aruba,"Population, total",SP.POP.TOTL,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0\r\nAustralia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,17.53887776,17.07290468,16.09583317,15.38876602,,,,Australia,"Population, total",SP.POP.TOTL,22733465.0,23128129.0,23475686.0,23815995.0,24190907.0,24601860.0\r\nAustria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.748134305,7.387077163,7.368748145,6.86986793,,,,Austria,"Population, total",SP.POP.TOTL,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0\r\nAzerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.646179877,3.82487717,3.785068836,3.931560609,,,,Azerbaijan,"Population, total",SP.POP.TOTL,9295784.0,9416801.0,9535079.0,9649341.0,9757812.0,9854033.0\r\n"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.091832893,5.292937031,7.426540134,6.3232575120000005,,,,"Bahamas, The","Population, total",SP.POP.TOTL,372039.0,377240.0,382169.0,386838.0,391232.0,395361.0\r\nBahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,22.41333475,20.51485098,23.80435697,23.44975483,,,,Bahrain,"Population, total",SP.POP.TOTL,1300217.0,1315411.0,1336397.0,1371855.0,1425171.0,1492584.0\r\nBangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.41201118600000003,0.433487963,0.44240082799999997,0.459141965,,,,Bangladesh,"Population, total",SP.POP.TOTL,155727053.0,157571292.0,159405279.0,161200886.0,162951560.0,164669751.0\r\nBarbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.449513722000001,5.222107001,5.127146392,4.490177673,,,,Barbados,"Population, total",SP.POP.TOTL,281585.0,282509.0,283385.0,284217.0,284996.0,285719.0\r\nBelarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.7625173489999995,6.67999159,6.736652251000001,6.701957705,,,,Belarus,"Population, total",SP.POP.TOTL,9464495.0,9465997.0,9474511.0,9489616.0,9501534.0,9498264.0\r\nBelgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.054330011000001,8.56287875,8.689543091,8.328159898,,,,Belgium,"Population, total",SP.POP.TOTL,11106932.0,11159407.0,11209057.0,11274196.0,11331422.0,11382393.0\r\nBelize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.82686092,1.415825911,1.4915988969999998,1.4076014940000001,,,,Belize,"Population, total",SP.POP.TOTL,336701.0,344181.0,351694.0,359288.0,366954.0,374681.0\r\nBenin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.559693354,0.562347006,0.5809609139999999,0.614213852,,,,Benin,"Population, total",SP.POP.TOTL,9729160.0,10004451.0,10286712.0,10575952.0,10872298.0,11175692.0\r\nBermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.872359209,7.356862866,7.051814587000001,8.838314987999999,,,,Bermuda,"Population, total",SP.POP.TOTL,64798.0,65001.0,65139.0,65239.0,65341.0,65441.0\r\nBhutan,BTN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.990398509,1.086025018,1.203220818,1.289321371,,,,Bhutan,"Population, total",SP.POP.TOTL,752967.0,764961.0,776448.0,787386.0,797765.0,807610.0\r\nBolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.602029322,1.835469055,1.8189973830000001,1.932419499,,,,Bolivia,"Population, total",SP.POP.TOTL,10239004.0,10400264.0,10562159.0,10724705.0,10887882.0,11051600.0\r\nBosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.475389585,6.101280083,6.080813337,6.234719162,,,,Bosnia and Herzegovina,"Population, total",SP.POP.TOTL,3648200.0,3604999.0,3566002.0,3535961.0,3516816.0,3507017.0\r\nBotswana,BWA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.036091061,2.025409285,2.456718254,3.243287637,,,,Botswana,"Population, total",SP.POP.TOTL,2089315.0,2128507.0,2168573.0,2209197.0,2250260.0,2291661.0\r\nBrazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.211587235,2.343570115,2.4884171840000002,2.594388285,,,,Brazil,"Population, total",SP.POP.TOTL,200560983.0,202408632.0,204213133.0,205962108.0,207652865.0,209288278.0\r\nBritish Virgin Islands,VGB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.30859109,6.174050299999999,6.057819382999999,6.072833581,,,,British Virgin Islands,"Population, total",SP.POP.TOTL,28509.0,29056.0,29588.0,30113.0,30661.0,31196.0\r\nBrunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,24.60717794,24.18076388,19.23359197,22.12470124,,,,Brunei Darussalam,"Population, total",SP.POP.TOTL,399748.0,405716.0,411704.0,417542.0,423196.0,428697.0\r\nBulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,6.71538056,6.1194565260000005,5.450695962999999,5.871615868999999,,,,Bulgaria,"Population, total",SP.POP.TOTL,7305888.0,7265115.0,7223938.0,7177991.0,7127822.0,7075947.0\r\nBurkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.137496219

In [176]:
directory='C:\Users\jwang\Desktop\Bootcamp\Classwork\homework\Project_1_AirPollution_vs_GDPperCapita\Project_1_AirPollution_vs_GDPperCapita\merge_df.csv'

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-176-33e4b8120789>, line 1)